.animation{
  transition: .9s all ease-in-out;
  transition-delay: .9s;
  transition-duration: 2s;
  }
.custumWidthDesign{
width: 50% !important;
}

.top-parentarrow-btn{
  background-color: #1a65cb;
  position: fixed;
  left: 2.4%;
  bottom: 3%;
  font-size: 24px;
  font-weight: 300;
}

.icontop-scroll{
  color: #fff;
}
@media (max-width: 667px) {
.custumWidthDesign{
width: 100% !important;
}
.modal-design {
  padding: 2rem 1rem;
}
.modal-design p {
  font-size: 1.1rem;
}
.get-left-sec p {
  font-size: 1.2rem;
}
.parent-details {
  margin: 1rem 0rem;
}
.border-line{
display: none;
}
.subtitle-about {
  color: #a1a1a1;
  font-size: 1.3rem;
  line-height: 40px;
  font-weight: 300;
}
.get-left-sec {
  min-height: 299px;
}
.title-2 {
  font-size: 35px;
}

}