@import url('http://fonts.cdnfonts.com/css/sofia-pro');

:root {
  --bs-body-font-family: 'Sofia Pro', sans-serif;
  --bs-primary-rgb: 243, 252, 249
}

ul {
  margin-bottom: 0;
}

.h2 {
  font-size: 84px;
}

.bg-gray {
  background-color: #E7ECC1;
}

.title-2 {
  color: #1A65CB;
  font-size: 84px;
  line-height: 101px;
  font-weight: 700;
}

.subtitle{
  color: #A1A1A1;
  font-size: 30px;
  line-height: 40px;
}
.mini-title{
  font-size: 2.9rem;
  color: #1A65CB;
  padding-right: 9%;
}
.nav-link{
  color: #3AC6A4 !important;
}

/* ------------------------------------------------------ */

.main-navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar-nav .navbar-brand {
  display: block;
  max-width: 196px;
}

.vision-mission-value .img {
  background-color: #fff;
  border-radius: 50%;
  width: 138px;
  padding: 35px;
}

#hero {
  background: #f3fcf9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-title {
  color: #1a65cb;
  font-size: 7rem;
  text-align: center;
  font-weight: 600;
}
#hero .hero-title span {
  max-width: 200px;
}
#hero a.btn-red {
  background: #ff4a64;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0px 3px 15px #ff3e3e 29;
}
#hero h6 {
  color: #1a65cb;
  letter-spacing: 4px;
  opacity: 80%;
  font-weight: initial;
}
#hero h6 + div {
  opacity: 50%;
  gap: 2rem;
}
.mob-show{
  display: none;
}
.new-drop-custum::after{
  position: absolute;
  top: 45%;
  right: -10%;
}



/* slider */

.slider-slides-content{
  display: flex;
}
.bg-slider-back{
  background-color: #F9EFE9;
  display: inline-block;
  min-height: 200px;
  height: 200px;
  position: absolute;
  width: 100%;
  box-shadow: 0px 3px 86px #00000029;
}

.slide{
  border-radius: 45px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  padding: 15px;
  z-index: 1;
}


.ui-card-slider{
  width: 100%;
  /* height: calc(100vh - 350px); */
  height: 700px;
}

.ui-card-slider .slide{
    left: 100%;
    width: 60%;
    height: auto;
    z-index: 1;
    bottom: initial;
    top: 50%;
    transform: translate(0px, -50%);
}

.ui-card-slider .left-hidden-slide{
  left: -100%;
}

.ui-card-slider .left-slide{
    left: -50%;
  width: 60%;
  height: auto;
    bottom: inherit;
    top: 50%;
    transform: translate(0px, -50%);
    z-index: 1;
    display: block;
}

.ui-card-slider .center-slide{
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  bottom: initial;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: block;
}

.ui-card-slider .right-slide{
    left: 90%;
  width: 60%;
  height: auto;
    bottom: inherit;
    z-index: 1;
    top: 50%;
    transform: translate(0px, -50%);
    display: block;
}

.logo-img{
  max-width: 195px;
}

.slide-content  p{
  color: #7F8184;
  font-size: 24px;
  margin-top: 15px;
}

/* footer */

.main-footer {
  background-color: #F3F9FF;
  font-size: 28px;
  line-height: 70px;
}

.main-footer a{
  text-decoration: none;
}

.footer-menu {
  min-width: 245px;
  margin-inline: auto;
}

.footer-menu a {
  color: #515151;
  font-size: 28px;
  line-height: 70px;
}

.footer-title {
  font-size: 30px;
  line-height: 48px;
  color: #10386E;
  font-weight: 700;
}

.footer-logo {
  width: 100%;
  max-width: 245px;
}

.footer-bottom {
  background-color: #C8D9E9;
  font-size: 30px;
  line-height: 48px;
  color: #10386E;
  font-weight: 300;
  padding-block: 34px;
}

.footer-bottom .copyright {
  font-weight: 500;
}

.footer-bottom a {
  color: inherit;
  font-weight: 300;
}
/* Mid propduct css */

.main_box{
  color: #1A65CB;
  display: flex;
  width: 98px;
  height: 112px;
  justify-content: flex-end;
  align-items: flex-end;
  
}
.main_parent{
  display: flex;
  align-items: center;
  min-height: 700px;
}
.left_head{
  font-size: 40px;
}
.border-dot-parent{
  border: 1px solid #1A65CB;
  border-radius: 50%;
  padding: 3px;
  margin-left: 10px;
}
.box-product{
  color: #1A65CB;
  position: absolute;
}

.border-dot{
  width: 18px;
  height: 18px;
  background-color: #1A65CB;
  margin: 2px;
  border-radius: 50%;
  position: relative;
  display: block;
}
.border-dot-parent-3{
  border: 1px solid #1A65CB;
  border-radius: 50%;
  padding: 3px;
  margin-left: 10px;
}

.border-dot-3{
  width: 18px;
  height: 18px;
  background-color: #1A65CB;
  margin: 2px;
  border-radius: 50%;
  position: relative;
  display: block;
}
/* .border-bootom{
  height: 100% !important;
  border-bottom: 1px dashed #1A65CB;
  background-color: #FCFBF3;
  width: 18px;
  position: absolute;
} */
.border-dot-parent::after {
  content: '';
  background: #F6F3D6 0% 0% no-repeat padding-box;
  width: 18px;
  position: absolute;
  display: block;
  border-radius: 10px;
  height: 670px;
  color: red;
  margin-top: 3px;
}
.border-dot::after{
  content: '';
  background: #F6F3D6 0% 0% no-repeat padding-box;
  width: 2px;
  background-color: #06060600;
  position: absolute;
  display: block;
  border-radius: 30px;
  height: 680px;
  color: red;
  z-index: 1;
  left: 7px;
  letter-spacing: 4px;
  background-image: linear-gradient(#1A65CB 33%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 4px 16px;
  background-repeat: repeat-y;
}
.e-card-bg{
  background-color: #FCFBF3;
}
.e-product-bg{
  background-color: #F1F4F3;
}
.e-responses-bg{
  background-color: #FFF8F3;
}
.card-content-head{
  /* max-width: 400px;
  margin: auto; */
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}
.card-content{
  color: #6A6A6A;
  font-size: 1.7rem;
  font-weight: 300;
}
.subtitle-mini-slider{
  font-size: 1.8rem;
  color: #1A65CB;
}
.card-content-slider{
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0px;
  color: #6A6A6A;
}
.slide-slick{
  /* min-width: 434px; */
  /* min-height: 600px; */
}

.vh-70{
  height: 700px;
}

.button-sec{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem;
}
.custum-btn{
  background: #FF4A64 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 20px #ff4a6461;
  border-radius: 52px;
  color: #fff !important;
  font-size: 1.7rem;
  padding: 0.9rem 2.8rem 0.5rem 2.8rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custum-btn-2{
  /* background: #FF4A64 0% 0% no-repeat padding-box; */
  background-color: #fff;
  border: 2px solid #ff4a64;
  box-shadow: 0px 4px 20px #ff4a6461;
  border-radius: 52px;
  color: #ff4a64 !important;
  font-size: 1.7rem;
  padding: 0.9rem 2.8rem 0.5rem 2.8rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
.custum-icons-arrow{
  display: inline-block;
  margin-left: 10px;
}
.custum-icons-play{
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}
.slick-list{
  padding:0 15% 0 0 !important;
}
.blue-theme-color {
  color: #1A65CB;
}

@media(min-width: 1024px) {
  .navbar-expand-lg .nav-item {
    margin-inline: 44px;
  }
  .slick-list{
    padding: 0 !important;
  }
  #hero .hero-title {
    color: #1a65cb;
    font-size: 5rem;
    text-align: center;
    font-weight: 600;
}
.vision-mission-value .img {
  width: 120px;
  padding: 28px;
}
.title-2 {
  font-size: 58px;
}
.card-content {
  font-size: 1.4rem;
}
.custum-btn {
  font-size: 1.1rem;
  padding: 0.7rem 1.8rem 0.5rem 1.8rem;
 
}
.custum-btn-2 {
  font-size: 1.1rem;
  padding: 0.7rem 1.8rem 0.5rem 1.8rem;
 
}

.slide-content p {
  font-size: 20px;
  margin-top: 15px;
}
.footer-menu a {
  font-size: 24px;
  line-height: 34px;
}
.footer-menu {
  min-width: 100%;
  margin-inline: auto;
}
.footer-menu  i{
  padding: 0px 10px;
  font-size: 2.2rem;
  color: #878787;
}
.custum-send-icon{
  color: #1A65CB !important;
  font-size: 1rem !important;
}
.custum-footer-btn{
  width: 50px;
  padding: 0;
  border: 1px solid #8796F5 !important;
}
.border-ft-color{
  border: 1px solid #8796F5;
  color: #818181;
  font-weight: 300;
}


}

@media(min-width: 992px) {
  .navbar-expand-lg .nav-item {
    margin-inline: 44px;
  }
  .slick-list{
    padding: 0 !important;
  }
  .vision-mission-value .img {
    margin-bottom: 20px;
  }

}
@media(max-width: 992px) {

  .vision-mission-value .img {
    margin-bottom: 20px;
  }
  .title-2 {
    color: #1A65CB;
    font-size: 46px;
    line-height: 101px;
    font-weight: 700;
}
.slick-list{
  padding:0 !important;
}
.custum-btn {
  font-size: 1.1rem;
  padding: 0.7rem 1.8rem 0.5rem 1.8rem;
 
}
.custum-btn-2 {
  font-size: 1.1rem;
  padding: 0.7rem 1.8rem 0.5rem 1.8rem;
 
}
.mini-title {
  font-size: 2rem;
}

.slide-content p {
  font-size: 20px;
  margin-top: 15px;
}
.footer-menu a {
  font-size: 24px;
  line-height: 34px;
}
.footer-menu {
  min-width: 100%;
  margin-inline: auto;
}
.ui-card-slider {
  width: 100%;
  /* height: calc(100vh - 350px); */
  height: 500px;
}
.mini-title {
  font-size: 2rem;
}

}

@media(max-width: 768px){
  .phone-none{
    display: none;
  }
 
  #hero .hero-title {
    color: #1a65cb;
    font-size: 5rem;
    text-align: center;
    font-weight: 600;
}
.mini-title{

  padding-right: 2%;
}
}

/* For Mobile  */

@media(max-width: 667px){
  
  .custum-btn,.custum-btn-2 {
    font-size: 0.9rem;
    padding: 0.4rem 1.2rem 0.5rem 1.2rem;
}
.mob-none{
  display: none;
}

.logo-img {
  max-width: 150px;
}
.ui-card-slider {
  margin-top: 20px;
}
.mobile-img{
  max-width: 50%;
  
}
.card-content {
  font-size: 1.1rem;
}
.mini-title {
  font-size: 2rem;
}
.subtitle {
  color: #A1A1A1;
  font-size: 21px;
  line-height: 40px;
}
#hero a.btn-red {
  min-width: 53%;
  padding-top: 14px;
}
.title-2 {
  font-size: 2rem;
  line-height: 50px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.footer-title {
  font-size: 30px;
  line-height: 48px;
  color: #10386E;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.footer-logo {
  width: 100%;
  max-width: 245px;
  margin: auto;
  display: flex;
}
.footer-mob-design{
  flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.mob-ft{
  display: flex;
  justify-content: space-around;
  max-width: 80%;
}
.border-dot-parent{
  display: none;
}

.border-dot{
  display: none;
}
.mobile-revese-design{
  flex-direction: column;
}
.main_parent {
  display: block;
}
.main_box {
  color: #1A65CB;
  display: flex;
  width: auto;
  height: 112px;
  justify-content: flex-end;
  align-items: flex-end;
}
.main_parent {
  display: block;
  align-items: center;
  min-height: 435px;
  position: relative;
}

.mob-absolute{
  position: absolute;
  top: -27px;
  padding: 48px;
  left: 22%;
}

.card-content-head {
  margin-top: 65px;
}
.border-dot-parent-3 {
  display: none;
}
.mobile-right-view{
  justify-content: flex-end !important;
}
.logo-image{
  display: none;
}

.mob-show{
  display: block;
  position: absolute;
  width: 109px;
  height: 46px;
  top: 24px;
  left: 35px;
}
.bg-slider-back {

  min-height: 141px;
  height: 145px;

}
.ui-card-slider {
  width: 100%;
  /* height: calc(100vh - 350px); */
  height: 500px;
}

}