@import url('http://fonts.cdnfonts.com/css/sofia-pro');

:root {
  --bs-body-font-family: 'Sofia Pro', sans-serif;
  --bs-primary-rgb: 243, 252, 249
}

ul {
  margin-bottom: 0;
}

.h2 {
  font-size: 84px;
}

.bg-gray {
  background-color: #E7ECC1;
}

.title-2 {
  color: #1A65CB;
  font-size: 84px;
  line-height: 101px;
  font-weight: 700;
}

.subtitle{
  color: #A1A1A1;
  font-size: 30px;
  line-height: 40px;
}

/* ------------------------------------------------------ */

.main-navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar-nav .navbar-brand {
  display: block;
  max-width: 196px;
}

.vision-mission-value .img {
  background-color: #fff;
  border-radius: 50%;
  width: 138px;
  padding: 35px;
}

#hero {
  background: #f3fcf9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-title {
  color: #1a65cb;
  font-size: 7rem;
  text-align: center;
  font-weight: 600;
}
#hero .hero-title span {
  max-width: 200px;
}
#hero a.btn-red {
  background: #ff4a64;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0px 3px 15px #ff3e3e 29;
}
#hero h6 {
  color: #1a65cb;
  letter-spacing: 4px;
  opacity: 80%;
  font-weight: initial;
}
#hero h6 + div {
  opacity: 50%;
  gap: 2rem;
}



/* slider */

.slider-slides-content{
  display: flex;
}

.slide{
  border-radius: 45px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  padding: 15px;
  z-index: 1;
}


.ui-card-slider{
  width: 100%;
  height: calc(100vh - 350px);
}

.ui-card-slider .slide{
    left: 100%;
    width: 60%;
    height: auto;
    z-index: 1;
    bottom: initial;
    top: 50%;
    transform: translate(0px, -50%);
}

.ui-card-slider .left-hidden-slide{
  left: -100%;
}

.ui-card-slider .left-slide{
    left: -50%;
  width: 60%;
  height: auto;
    bottom: inherit;
    top: 50%;
    transform: translate(0px, -50%);
    z-index: 1;
    display: block;
}

.ui-card-slider .center-slide{
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  bottom: initial;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: block;
}

.ui-card-slider .right-slide{
    left: 90%;
  width: 60%;
  height: auto;
    bottom: inherit;
    z-index: 1;
    top: 50%;
    transform: translate(0px, -50%);
    display: block;
}

.logo-img{
  max-width: 195px;
}

.slide-content  p{
  color: #7F8184;
  font-size: 24px;
  margin-top: 15px;
}

/* footer */

.main-footer {
  background-color: #F3F9FF;
  font-size: 28px;
  line-height: 70px;
}

.main-footer a{
  text-decoration: none;
}

.footer-menu {
  min-width: 245px;
  margin-inline: auto;
}

.footer-menu a {
  color: #515151;
  font-size: 28px;
  line-height: 70px;
}

.footer-title {
  font-size: 30px;
  line-height: 48px;
  color: #10386E;
  font-weight: 700;
}

.footer-logo {
  width: 100%;
  max-width: 245px;
}

.footer-bottom {
  background-color: #C8D9E9;
  font-size: 30px;
  line-height: 48px;
  color: #10386E;
  font-weight: 300;
  padding-block: 35px;
}

.footer-bottom .copyright {
  font-weight: 500;
}

.footer-bottom a {
  color: inherit;
  font-weight: 300;
}

@media(min-width: 992px) {
  .navbar-expand-lg .nav-item {
    margin-inline: 44px;
  }
}

@media(max-width: 768px){
  .phone-none{
    display: none;
  }
}